<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{project.title}"></title>
    <link rel='stylesheet prefetch' href='http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css'>
    <link rel="stylesheet"
          type="text/css"
          th:href="@{resources/style.css}"/>
</head>
<body>

<div align="right"><a href="?locale=en">English </a> | <a href="?locale=ru">Russian </a></div>
<a th:href="@{/logout}">Logout</a>


<h1 th:text="#{profile.header}"></h1>
<!--/*@thymesVar id="user" type="stack.model.User"*/-->
<form id="content" th:action="@{|/user/${user.login}|}" th:object="${user}" method="post">
    <div>
        <input type="hidden" th:field="*{id}">
    </div>
    <div>
        <label th:text="#{profile.login}"/>
        <label th:text="*{login}"/>
        <input type="hidden" name="login" th:value="${user.getLogin()}" th:field="*{login}"/>
    </div>

    <div>
        <input type="hidden" name="password" th:field="*{password}"/>
    </div>
    <div>
        <label th:text="#{profile.email}"/>
        <input type="email" name="email" th:value="${user.getEmail()}" th:field="*{email}"/>
    </div>

    <div>
        <label th:text="#{profile.firstName}"/>
        <input type="text" name="firstname" th:value="${user.getFirstName()}" th:field="*{firstName}"/>
    </div>

    <div>
        <label th:text="#{profile.lastName}"/>
        <input type="text" name="lastname" th:value="${user.getLastName()}" th:field="*{lastName}" />
    </div>

    <div>
        <label th:text="#{profile.avatar}"/>
        <input type="image" th:icon="*{avatar}"/>
        <label th:text="#{profile.addAvatar}">
            <input type="file"
                   name="avatar"
                   accept="image/jpeg,image/png,image/gif" th:field="*{avatar}"/>
        </label>
    </div>

    <button type="submit" th:text="#{button.save}"></button>
    <button type="reset" th:text="#{button.cancel}"></button>
</form>
</body>
</html>