<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title th:text="#{project.title}"></title>
    <link rel='stylesheet prefetch' href='http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css'>
    <link rel="stylesheet"
          type="text/css"
          th:href="@{resources/style.css}"/>
</head>
<body>

<div align="right"><a href="?locale=en">English </a> | <a href="?locale=ru">Russian </a></div>

<div class="wrapper">
    <!--/*@thymesVar id="user" type="stack.model.User"*/-->
    <form th:object="${user}" method="post" class="form-login"
          action="#" th:action="@{register}">
        <h2 class="form-login-heading" th:text="#{register.title}"></h2>
        <input type="text" th:field="*{login}" th:placeholder="#{login.username}"
               class="form-control"
               required="" autofocus=""/>
        <input type="password" th:field="*{password}" th:placeholder="#{register.password}"
               class="form-control"
               required=""/>
        <input type="password" th:field="*{confirmPassword}"th:placeholder="#{register.confirm.password}"
               class="form-control"
               required=""/>
        <button class="btn btn-lg btn-primary btn-block" type="submit" th:text="#{register.submit}"></button>
    </form>
</div>

</body>
</html>